<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiConvertAllInOne"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FuelActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AngleActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TemperatureActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EnergyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WeightActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DensityActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SpeedActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TimesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VolumeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AreaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LengthActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MassActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>